.panelContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 4px;
    min-height: 10px;
    animation: height 1s linear;
    max-height: 400px;
    overflow: auto;
    background: white;
}

.panelHeader {
    display: flex;
    flex-direction: row;
    padding: 0 22px;
    align-content: space-between;
    position: relative;
}

.close {
    padding: 0px 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

/* .doneItemsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.undoneItemsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
} */

.icon {
    /* margin: 2px auto; */
    /* width: 20px;
    height: 20px; */
    /* border-radius: 2px; */
    cursor: pointer;
}

.title {
    text-align: left;
    padding: 2px 4px;
    width: 90%;
    border: none;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #dadada;
}

.title:hover, .titleFocused {
    border-bottom: 1px solid black;
    outline: none;
}

.addItemTextField {
    text-align: left;
    /* padding: 2px 4px; */
    width: 500px;
    padding: 1px 12px;
    width: 500px;
    border: none;
    font-size: 20px;
}

.addItemTextField:focus {
    outline: none;
}